<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="hmh" translate="label" sortOrder="900">
            <label>HMH</label>
        </tab>
        <section id="hmh_productsalesstats" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Product Sales Stats</label>
            <tab>hmh</tab>
            <resource>Hmh_ProductSalesStats::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="period" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Products Sold by</label>
                    <source_model>Hmh\ProductSalesStats\Model\Config\Source\Period</source_model>
                    <comment>Show number of products sold by past day, week or month</comment>
                </field>
                <field id="threshold" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Threshold</label>
                    <comment>Show this info only when product sold is over this value.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
